<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SupportAPS" value="Yes"/>
    
    <add key="Install_Reg_OKR" value="SOFTWARE\Lenovo\OneKey App\OneKey Recovery"/>
    <add key="Install_Reg_USBBlocker" value="SOFTWARE\Lenovo\USB Blocker"/>
    <add key="Install_Reg_PwdMgr" value="SOFTWARE\Lenovo\Password Manager"/>
    <add key="Install_Reg_APS" value="SOFTWARE\Lenovo\APS"/>
  </appSettings>
</configuration>